<h1>Bonjour
	{{ user.firstname }}
	{{ user.lastname }}
</h1>

<p>Votre commande a bien été enregistrée avec le numéro de commande
	{{ order.id }}
	et nous sommes déjà entrain de la préparer. Nous vous informerons par e-mail dès qu'elle sera expédiée. 
	
		!</p>

<table>
	<thead>
		<tr>
			<th>Produit</th>
			<th>Quantité</th>
			<th>Prix unitaire</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		{% for item in order.orderDetails %}
			<tr>
				<td>{{ item.product }}</td>
				<td>{{ item.quantity }}</td>
				<td>{{ item.price / 100 }}
					€</td>
				<td>{{ (item.price * item.quantity) / 100 }}
					€</td>
			</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3" style="text-align:right;">Frais de port :</td>
			<td>{{ order.carrierPrice / 100 }}
				€</td>
		</tr>
		<tr>
			<td colspan="3" style="text-align:right;">Total :</td>
			<td>{{ (order.getTotal() + order.carrierPrice) / 100 }}
				€</td>
		</tr>
	</tfoot>
</table>

<h4>La commande sera livrée à :</h4>
<p>{{ order.delivery|raw }}</p>
