<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}MarieShope

			{% endblock %}
		</title>
		<!-- Bootstrap core CSS -->
		<link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">
		<link
		href="{{asset('assets/css/style.css')}}" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="{{asset('assets/css/carousel.css')}}" rel="stylesheet">
	</head>
	<body>
		<header>
			{% include "shared/_navbar.html.twig" %}
		</header>
		<main role="main">
			{% if carousel is defined %}
				{% include "shared/_carousel.html.twig" %}
			{% else %}
				{% set margin = 'mt-5' %}
			{% endif %}
			<div class="container marketing {{margin ?? 0}}"> {% block body %}{% endblock %}
				</div>
				<!-- /.container -->
				<!-- FOOTER -->
				<footer class="container">
					{% include "shared/_footer.html.twig" %}
				</footer>
			</main>
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
			<script src="{{asset('assets/js/bootstrap.bundle.js')}}"></script>
		</body>
	</html>
