{% extends 'base.html.twig' %}

{% block title %}Les conseils de Marie
{% endblock %}


{% block body %}
	<main>
		<h1>Les conseils de Marie</h1>
		<hr>

		<section class="blog-listing gray-bg">
			<div class="container">
				<div class="row align-items-start">
					<div class="col-lg-8 m-15px-tb">
						<div class="row">
							{% for advise in advise %}
								<div class="col-sm-6">
									<div class="blog-grid">
										<div class="blog-img">
											<div class="date">
												<span>
													{{ advise.createdAt|format_datetime('medium', 'none', locale='fr') }}
												</span>

												<img src="{{ vich_uploader_asset(advise, 'imageFile') }}" alt="{{ advise.name}}" class="img-fluid">

											</div>

										</div>
										<div class="blog-info">
											<h5>
												{{ advise.name }}

											</h5>
											{{ advise.subtitle}}
											<div class="btn-bar">
												<a href="{{ path('advise_show', {'slug': advise.slug}) }}" class="px-btn-arrow">
													<span>Lire plus</span>
													<i class="arrow"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
							<div class="col-sm-6">
								<div class="blog-grid">
									<div class="blog-img">
										<div class="date">
											<span>04</span>
											<label>JUIN</label>
										</div>
										<a href="#">
											<img src="assets/img/essential-oil-6064331_640.jpg" width="400" height="200">
										</a>
									</div>
									<div class="blog-info">
										<h5>
											<a href="#">Utilisations de l'huile essentielle de Thym Thujanol</a>
										</h5>
										<p>Extrait de "Le guide LEDUC des huiles essentielles pour toute la famille" de Anne Dufour éditions Leduc</p>
										<div class="btn-bar">
											<a href="#" class="px-btn-arrow">
												<span>Read More</span>
												<i class="arrow"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="blog-grid">
									<div class="blog-img">
										<div class="date">
											<span>04</span>
											<label>AVRIL</label>
										</div>
										<a href="#">
											<img src="assets/img/essential-oil-6064331_640.jpg" width="400" height="200">
										</a>
									</div>
									<div class="blog-info">
										<h5>
											<a href="#">Utilisation de l'hydrolat de Thym Thujanol</a>
										</h5>
										<p>Extrait du guide des eaux florales et hydrolats de Patricia Delmas Editions Médicis</p>
										<div class="btn-bar">
											<a href="#" class="px-btn-arrow">
												<span>Read More</span>
												<i class="arrow"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="blog-grid">
									<div class="blog-img">
										<div class="date">
											<span>04</span>
											<label>AVRIL</label>
										</div>
										<a href="#">
											<img src="assets/img/essential-oil-6064331_640.jpg" width="400" height="200">
										</a>
									</div>
									<div class="blog-info">
										<h5>
											<a href="#">Utilisations de l'huile essentielle d'Hélichyse Italienne</a>
										</h5>
										<p>Extrait de "Le guide LEDUC des huiles essentielles pour toute la famille" de Anne Dufour éditions Leducp>
											<div class="btn-bar">
												<a href="#" class="px-btn-arrow">
													<span>Read More</span>
													<i class="arrow"></i>
												</a>
											</div>
										</p>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
