<div id="myCarousel" class="carousel slide">
	<div class="carousel-indicators">
		{% for key, header in headers %}
			<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ key }}" class="{{ key == 0 ? 'active' : '' }}" aria-current="{{ key == 0 ? 'true' : 'false' }}" aria-label="Slide {{ key + 1 }}"></button>
		{% endfor %}
	</div>
	<div class="carousel-inner">
		{% for key, header in headers %}
			<div class="carousel-item {{ key == 0 ? 'active' : '' }}" style="background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(54, 54, 54, 0.4) 50%, rgba(28, 28, 28, 0.3)), url(images/bannieres/{{ header.image }}) center center/cover no-repeat;">
				<div class="container">
					<div class="carousel-caption text-left">
						<h2>{{ header.title }}</h2>
						<p>{{ header.content }}</p>
						<p>
							<button class="btn btn-lg btn-dark shadow" href="{{ header.btnUrl }}" onkeypress="" onkeydown="" onkeyup="">{{ header.btnTitle }}</button>
						</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
{% block javascripts %}
	<script src=" {{ asset('assets/js/shop.js') }}" defer></script>
	<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
