{% block stylesheet %}
	<link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
{% endblock %}

<div id="myCarousel" class="carousel slide">
	<div class="carousel-indicators">
		{% for key, header in headers %}
			<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ key }}" class="{{ key == 0 ? 'active' : '' }}" aria-current="{{ key == 0 ? 'true' : 'false' }}" aria-label="Slide {{ key + 1 }}"></button>
		{% endfor %}
	</div>
	<div class="carousel-inner">
		{% for key, header in headers %}
			<div class="carousel-item {{ key == 0 ? 'active' : '' }}" style="background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(54, 54, 54, 0.4) 50%, rgba(28, 28, 28, 0.3)), url('/images/bannieres/{{ header.image }}') center center/cover no-repeat;">
				<div class="container">
					<div class="carousel-caption text-left">
						<h2>{{ header.title }}</h2>
						<p>{{ header.content }}</p>
						<p>
							<a class="custom-btn" href="{{ header.btnUrl }}">{{ header.btnTitle }}</a>
						</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<button class="carousel-control-prev custom-carousel-control" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next custom-carousel-control" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}
